<h1>Menu</h1>
<ul class="nav nav-pills">
  
    <% @sections.each do |section| %>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <%= section.name %>
        </a>
      </li>
    <% end %>
</ul>
