<h1>Contact us</h1>
<div class = "row">
  <div class="col-md-4">
    <address>Location: Sinza</br>
          Box: 4853 </br>
          Phone: 0717722477
    </address>
  </div>
  <div class="col-md-8">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31695.225096937866!2d39.204263668328565!3d-6.781641886274481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185c4ea40b03b293%3A0x7478be1561f8681e!2sSinza%2C%20Dar%20es%20Salaam!5e0!3m2!1ssw!2stz!4v1615214785977!5m2!1ssw!2stz"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
      
    </iframe>
  </div>
</div>

<p>Back to <%= link_to "home", root_path %></p>