<h1>Contact us</h1>
<div class = "row">
  <div class="col-md-6">
    <address>Location: Sinza</br>
          Box: 4853 </br>
          Phone: 0717722477
    </address>
  </div>
  <div class="col-md-6">
    
  </div>
</div>

<p>Back to <%= link_to "home", root_path %></p>