
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      
  <div class="display-4">Welcome to</div>
  <h1 class="display-3">Habib Restaurant</h1>
  <p class="lead">Health first money later.</p>
    </div>
    <div class="col-md-6 restaurant-img">
      <h2>Hello</h2>
      <%= image_tag "http://loremflickr.com/320/240/restaurant" %>
    </div>
  </div>
  <hr class="my-4">
  <p> .</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
