
<div class="jumbotron">
  <div class="display-4">Welcome to</div>
  <h1 class="display-3">Habib Restaurant</h1>
  <p class="lead">Health first money later.</p>
  <hr class="my-4">
  <p> .</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
